<form method="POST" action="/new">
    <h4>Enter a new post:</h4>
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" />
    </div>
    <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>