<html>
    <head>
        <Title>Homepage</Title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <ul>
            <% messages.forEach((message) => { %>
                <%- include('messages', { message: message }); %>
            <% }); %>
        </ul>
    </body>
</html>